---
layout: default
title: Home
permalink: /
man_section: "<i class='remixicon-home-line'></i>"
---

<h1>Name</h1>

<header id="heading">
    {% include depau_figlet.html %}
</header>

{% if site.dotgay %}
  <h1>Support human rights</h1>

  <section id="dotgay" class="indent">
    <p>
      LGBT[a-zA-Z]+ rights are human rights.
    </p>
    <p>
      No, we're not there yet. As long as we still live in a world where people get bullied at or even killed for sexual orientation, gender identity, skin color, nationality, religion, beliefs, we're not there yet.
    </p>
    <p>
      With even some EU countries not recognizing homosexual marriages in the best case scenario, Poland with their "LGBT-free" zones, and way too many other countries that still consider being an LGBT person a crime, we definitely aren't there yet.
    </p>
    <p>
      Do your part and don't vote for people who don't have everyone's interest at heart. Though you may not care if some random gay dude isn't allowed to get married, live in your town or even be alive, tomorrow it may be your turn, your son's, your daughter's.
    </p>
  </section>
{% endif %}

<h1>Synopsis</h1>

<section id="synopsis" class="indent">
    echo "Subject: Hey Davide :)" | sendmail <strong><a href="mailto:davide@depau.eu">davide@depau.eu</a></strong>
</section>

<h1>Description</h1>

<section id="description" class="indent">
    <p>
        LGBTQ+ rights activist <emoji>🏳️‍🌈</emoji>, GNU/Linux lover <emoji>🐧</emoji>, Kotlin and Python fan. <em>Hacker</em> <emoji>👨‍💻</emoji> (for some definition of the word).<br>
        <em><a href="https://www.youtube.com/watch?v=Cs12sfnFkYs" rel="noopener" target="_blank">"Stacca,
            stacca!"</a></em>
    </p>
    <ul>
        <li>JIT compiler engineer, C++ dev and System Administrator at <a href="https://rev.ng" rel="noopener" target="_blank">rev.ng</a></li>
        <li>Former System Support Engineer at <a href="https://www.eidosmedia.com/" rel="noopener"
                                                       target="_blank">EidosMedia</a>.
        </li>
        <li>
            Former President of <a href="https://poliedro-polimi.it/" rel="noopener" target="_blank">PoliEdro</a>,
            <a href="https://polimi.it" rel="noopener" target="_blank">Politecnico di Milano</a>'s LGBTQ+ group.
        </li>
    </ul>
</section>


<h1>See also</h1>

<section id="see-also" class="indent">
    <div>
        <strong><a href="https://blog.depau.eu">blog</a></strong>(<i class="remixicon-newspaper-line"></i>),
        <strong><a href="https://github.com/Depau" target="_blank"
                   rel="noopener">github</a></strong>(<i class="remixicon-github-line"></i>),
        <strong><a
            href="https://stackoverflow.com/story/depau" target="_blank"
            rel="noopener">stackoverflow-developer-story</a></strong>(<i class="remixicon-stack-overflow-line"></i>),
        <strong><a
            href="https://tech.lgbt/@depau" target="_blank"
            rel="me">mastodon</a></strong>(<i class="remixicon-mastodon-line"></i>),
        <strong><a href="mailto:davide@depau.eu">email</a></strong>(<i class="remixicon-mail-send-fill"></i>)
    </div>

    <p>
        Full resume available upon request.
    </p>
</section>


<h1>Featured projects</h1>

<section id="projects" class="indent">
    <h2>Wi-Se: <a href="https://github.com/Depau/wi-se-sw/" target="_blank" rel="noopener">Software</a> / <a
        href="https://github.com/Depau/wi-se-hw/" target="_blank" rel="noopener">Hardware</a>
    </h2>

    <section class="indent">
        <p>
            Ever felt too lazy to get your butt off the chair, grab your laptop and your USB to UART adapter to go and
            see
            why the last kernel update made your single-board computer not boot?
        </p>

        <p>
            Wi-Se helps you keep those extra calories on your hips by making UART wireless!
        </p>

        <p>
            I designed a set of boards that snap onto the major SBCs and routers so that you can leave them inside the
            device's enclosure. When they don't boot, just connect to them with <a
            href="https://github.com/Depau/ttyc" target="_blank" rel="noopener">ttyc</a> ;)
        </p>
    </section>


    <h2>LevIoT: <a href="https://github.com/Depau/leviot-sw/" target="_blank" rel="noopener">Software</a> / <a
        href="https://github.com/Depau/leviot-hw/" target="_blank" rel="noopener">Hardware</a>
    </h2>

    <section class="indent">
        <p>
            LevIoT is a replacement PCB + firmware based on ESP32 for my Levoit air purifier.
        </p>
        <p>
            It adds the ability to control it over Wi-Fi, over MQTT. It also has <a
            href="https://homieiot.github.io/" rel="noopener" target="_blank">Homie</a> support so it works great with
            <a
                href="https://www.openhab.org/" rel="noopener" target="_blank">openHAB</a>.
        </p>
        <p>
            See <a href="https://www.youtube.com/watch?v=Sd-BhZ_iI7U" target="_blank"
                   rel="noopener">my talk</a> about it (in Italian) for <a href="https://poul.org/" target="_blank"
                                                                           rel="noopener">POuL</a>.
        </p>
    </section>


    <h2><a href="https://etchdroid.depau.eu">EtchDroid</a></h2>

    <section class="indent">
        Write GNU/Linux live ISO images from your Android device, no root required.

        <ul>
            <li>Fork it on <a href="https://github.com/EtchDroid/EtchDroid">GitHub <i class="remixicon-github-line"></i></a>
            </li>
            <li>Get it on <a href="https://f-droid.org/en/packages/eu.depau.etchdroid/">F-Droid <i
                class="remixicon-android-line"></i></a></li>
            <li>Get it on <a href="https://play.google.com/store/apps/details?id=eu.depau.etchdroid">Google Play <i
                class="remixicon-google-line"></i></a></li>
        </ul>
    </section>

    <p>
    More on <a href="https://github.com/Depau">GitHub <i class="remixicon-github-line"></i></a> and on my <a href="https://blog.depau.eu">blog <i class="remixicon-newspaper-line"></i></a>.
    </p>
</section>

<h1>Support my projects</h1>

<section id="support-projects" class="indent">
    <ul>
        <li>
            <i class="remixicon-patreon-line"></i> Patreon: <a href="https://www.patreon.com/depau" target="_blank"
                                                               rel="noopener">patreon.com/depau</a>
        </li>
        <li>
            <i class="remixicon-paypal-line"></i> PayPal: <a href="https://paypal.me/DavideDepau/5" target="_blank"
                                                             rel="noopener">paypal.me/DavideDepau</a>
        </li>
        <li>
            <a href="https://etchdroid.depau.eu/donate/">More options</a>
        </li>
    </ul>
</section>


<h1>This website</h1>
<section id="about-website" class="indent">
    <p>
        <strong><a href="/cookies">cookies</a></strong>(<emoji>🍪</emoji>)
    </p>
    <div>
        Source code is on <a href="https://gitlab.com/Depau/depau.eu" target="_blank" rel="noopener">GitLab <i
        class="remixicon-gitlab-line"></i></a>.
    </div>
    <div>
        Licensed under the MIT license.
    </div>
</section>
