<pre class="depau-figlet depau-figlet-slant-small forceregular">
   ___            _    __      ___                    
  / _ \___ __  __(_)__/ /__   / _ \___ ___  ___ ___ __
 / // / _ `/ |/ / / _  / -_) / // / -_) _ \/ _ `/ // /
/____/\_,_/|___/_/\_,_/\__/ /____/\__/ .__/\_,_/\_,_/ 
                                    /_/               
</pre>
<pre class="depau-figlet depau-figlet-slant-normal forceregular">
    ____              _     __        ____                        
   / __ \____ __   __(_)___/ /__     / __ \___  ____  ____ ___  __
  / / / / __ `/ | / / / __  / _ \   / / / / _ \/ __ \/ __ `/ / / /
 / /_/ / /_/ /| |/ / / /_/ /  __/  / /_/ /  __/ /_/ / /_/ / /_/ / 
/_____/\__,_/ |___/_/\__,_/\___/  /_____/\___/ .___/\__,_/\__,_/  
                                            /_/                   
</pre>
<pre class="depau-figlet depau-figlet-slant-small-twolines forceregular">
   ___            _    __   
  / _ \___ __  __(_)__/ /__ 
 / // / _ `/ |/ / / _  / -_)
/____/\_,_/|___/_/\_,_/\__/ 
   ___                      
  / _ \___ ___  ___ ___ __  
 / // / -_) _ \/ _ `/ // /  
/____/\__/ .__/\_,_/\_,_/   
        /_/                 
</pre>
<pre class="depau-figlet depau-figlet-mini forceregular">
 _             
| \ _.  o _| _ 
|_/(_|\/|(_|(/_
 _             
| \ _ ._  _.   
|_/(/_|_)(_||_|
      |        
Dude your screen
 is too small,
get a new phone
</pre>
