.depau-figlet {
    text-align: center;
    line-height: normal;

    &-slant-small, &-slant-normal, &-slant-small-twolines, &-mini {
        display: none;
    }

    @media screen and (max-width: 299px) {
        &.depau-figlet-mini {
            display: block;
        }
    }

    @media screen and (min-width: 300px) and (max-width: 549px) {
        &.depau-figlet-slant-small-twolines {
            display: block;
        }
    }

    @media screen and (min-width: 550px) and (max-width: 699px) {
        &.depau-figlet-slant-small {
            display: block;
        }
    }

    @media screen and (min-width: 700px) {
        &.depau-figlet-slant-normal {
            display: block;
        }
    }
}


.lolcat {
  background-image: linear-gradient(-20deg, violet, violet, blue, green, yellow, orange, red, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: background-image .25s ease-in-out;

  &-steeper, a:hover {
    background-image: linear-gradient(-60deg, violet, violet, blue, green, yellow, orange, red, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  emoji {
  	-webkit-text-fill-color: white;
  	color: white;
  	-webkit-background-clip: unset;
  }

  ::selection, ::-moz-selection {
    // Rainbow bg doesn't work, let's make it pink
    background: #ff24b4;
    color: white;
    -webkit-text-fill-color: white;
  }
}

#manpage-progress-indicator .lolcat a {
  background: unset;
  background-image: linear-gradient(-60deg, violet, violet, blue, green, yellow, orange, red, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opendyslexic:not(.forceregular) {
    font-family: "Open Dyslexic", monospace !important;

    .navbar {
        font-family: "Open Dyslexic", monospace !important;
    }

    code, pre {
        font-family: "Open Dyslexic Mono", monospace !important;
    }

    .forceregular {
        font-family: $text_font !important;
    }
}
