@import "constants";
@import "colors";

body {
    background: $bg_color;
    color: $white;
    font-family: $text_font;
    font-size: $font_size;
}

pre {
    font-family: $text_font;
}

a {
    color: $fg_color;
    text-decoration: none;
    border-bottom: $fg_color dotted 1px;

    &:hover, &:focus, &:active {
        color: $fg_color;
        border-bottom: $fg_color solid 1px;
    }
}

.no-uppercase {
    text-transform: initial !important;
}

::selection, ::-moz-selection {
    background: $fg_color;
    color: $bg_color;
}

.manpage {
    padding-right: ($font_size * $man_right_padding_chars) / 2;
    padding-bottom: 50px;
    margin: auto;

    @media screen and (min-width: 1300px) {
      max-width: 1200px;
    }

    @media screen and (max-width: 1299px) and (min-width: 820px) {
      max-width: 800px;
    }

    @media screen and (max-width: 819px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-top {
        padding-bottom: $font_size;
    }

    &-bottom {
        height: $font_size;
        margin-top: 40px;
    }

    &-top, &-bottom {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .manpage-name {
            text-transform: uppercase;

            @media screen and (max-width: 400px) {
                display: none;
            }
        }

        .manpage-title {
            text-align: center;
        }
    }

    h1 {
        font-weight: bold;
        padding-top: 10px;
    }

    h1, h2 {
        font-size: $font_size;
        text-transform: uppercase;
    }

    h2, h3, h4, h5 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            &:before {
                content: $man_ul_marker;
            }

            &.multiline {
                display: flex;
                padding-left: 10px;

                &:before {
                    position: relative;
                    left: -10px;
                }
            }
        }
    }

    .indent {
        padding-left: ($font_size * $man_indent_chars) / 2;
    }

    @media screen and (max-width: 400px) {
        padding-right: ($font_size * $man_right_padding_chars_mobile) / 2;

        .indent {
            padding-left: ($font_size * $man_indent_chars_mobile) / 2;
        }
    }
}


#manpage-progress-indicator {
    position: fixed;
    bottom: 0;
    left: 0;

    padding-left: $font_size / 2;
    padding-right: $font_size / 2;

    background: $fg_color;
    color: $bg_color;

    a, a:hover, a:active, a:focus {
        background: $fg_color;
        color: $bg_color;
    }

    &::selection, &::-moz-selection {
        background: $bg_color;
        color: $fg_color;
    }

    span {
        &::selection, &::-moz-selection {
            background: $bg_color;
            color: $fg_color;
        }
    }
}

@media screen and (max-width: 500px) {
    .no-mobile {
        display: none;
    }
}

.no-wrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

nav#navigation {
    padding-top: $font_size;
}
