---
layout: default_nonav
---

<nav id="navigation" class="center">
    {% for x in site.nav %}
    <strong><a href="{{ x.link }}">{{ x.name }}</a></strong>({{ x.section }}){% if x.name contains "home" %}{% unless site.dotgay %} <a class="lolcat-steeper" href="https://depau.gay">| lolcat</a>{% endunless %}{% endif %},
    {% endfor %} <strong><a href="#" id="opendyslexic-toggle" title="Toggle the dyslexic-friendly font">dyslexic?</a></strong>
</nav>

{{ content }}
